<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reset Password</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/custom.css}" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex flex-column flex-grow-1">
    <div class="container-fluid d-flex flex-column flex-grow-1">
        <div class="row">
            <div class="col-10 col-md-5 col-lg-4 col-xl-3 col-sm-6 mx-auto">
                <div class="form-wrapper shadow mt-3">
                    <form th:action="@{/resetPassword}" method="post" accept-charset="UTF-8" class="my-3 mx-3">

                        <h3>
                            <div style="color:red;text-align:center" role="alert" th:text="${error}" th:if="${error}"></div>
                        </h3>

                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input autofocus="autofocus" id="password" name="password" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Next" class="btn btn-primary col">
                        </div>

                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>